@import '@/assets/styles/variables.scss';
.tab-bar{
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: $body-background;
  .tab-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .login{
      width: 70px;
      height: 70px;
    }
    img{
      width: 50px;
      height: 50px;
    }
    .title{
      color: $text-color;
      &.active{
        color: $text-color-select;
      }
    }
  }
}

